<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.luvletter.sys.dao.OprtRoleMapper" >
  <resultMap id="BaseResultMap" type="cn.luvletter.sys.model.OprtRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="oprt_no" property="oprtNo" jdbcType="VARCHAR" />
    <result column="role_no" property="roleNo" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, oprt_no, role_no, gmt_create
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.luvletter.sys.model.OprtRoleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_oprt_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_oprt_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_oprt_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.luvletter.sys.model.OprtRoleExample" >
    delete from sys_oprt_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.luvletter.sys.model.OprtRole" >
    insert into sys_oprt_role (id, oprt_no, role_no, 
      gmt_create)
    values (#{id,jdbcType=INTEGER}, #{oprtNo,jdbcType=VARCHAR}, #{roleNo,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="cn.luvletter.sys.model.OprtRole" >
    insert into sys_oprt_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="oprtNo != null" >
        oprt_no,
      </if>
      <if test="roleNo != null" >
        role_no,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="oprtNo != null" >
        #{oprtNo,jdbcType=VARCHAR},
      </if>
      <if test="roleNo != null" >
        #{roleNo,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.luvletter.sys.model.OprtRoleExample" resultType="java.lang.Integer" >
    select count(*) from sys_oprt_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_oprt_role
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.oprtNo != null" >
        oprt_no = #{record.oprtNo,jdbcType=VARCHAR},
      </if>
      <if test="record.roleNo != null" >
        role_no = #{record.roleNo,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_oprt_role
    set id = #{record.id,jdbcType=INTEGER},
      oprt_no = #{record.oprtNo,jdbcType=VARCHAR},
      role_no = #{record.roleNo,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.luvletter.sys.model.OprtRole" >
    update sys_oprt_role
    <set >
      <if test="oprtNo != null" >
        oprt_no = #{oprtNo,jdbcType=VARCHAR},
      </if>
      <if test="roleNo != null" >
        role_no = #{roleNo,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.luvletter.sys.model.OprtRole" >
    update sys_oprt_role
    set oprt_no = #{oprtNo,jdbcType=VARCHAR},
      role_no = #{roleNo,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>